matplotlib
opencv-python<=4.6
opencv-contrib-python<=4.6
tqdm ~= 4.65

# dev

## vscode interactive python function
jupyter==1.0.0

## vscode auto formate code
autopep8==2.0.2

## remove unused imports
autoflake==2.0.2